<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TheoInCodeLand | Reset Password</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/css/login.css">
    <link rel="stylesheet" href="/css/responsive__login.css">

    <!-- --------- UNICONS ---------- -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <!-- --------- FONT AWESOME ---------- -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" 
    integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- --------- FAVICON ---------- -->
    <link rel="shortcut icon" href="../assets/img/logo_3.png" type="image/x-icon">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

        *{
            margin: 0;
            padding: 0;
            box-sizing: border-box;
            font-family: 'Poppins', sans-serif;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="__logo">
            <img src='../assets/img/logo_2.png' alt="">
        </div>

        <form class="form" form action="/forgot-password/reset-password/<%= token %>" method="POST">
            
            <div class="flex-column">
                <label>New Password</label>
                <input type="hidden" name="token" value="<%= token %>">
            </div>
            <div class="inputForm">
                <input 
                    placeholder="Enter your new password" 
                    class="input" 
                    type="password" 
                    name="password" 
                    id="password" 
                    required 
                />
            </div>

            <div class="flex-column">
                <label>Comfirm Password</label>
                <input type="hidden" name="token" value="<%= token %>">
            </div>
            <div class="inputForm">
                <input 
                    placeholder="Re Enter your new password" 
                    class="input" 
                    type="password" 
                    name="password" 
                    id="password" 
                    required 
                />
            </div>

            <button class="button-submit">Reset Password</button>
            <p class="p">Remember your password? <a href="/auth/sign-in" class="span">Log In</a>.</p>
        </form>
    </div>
</body>
</html>
