<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="theme-color" content="#111111">
    <title>TheoInCodeLand | 404</title>

    <!-- --------- UNICONS ---------- -->
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.8/css/line.css">

    <!-- --------- FONT AWESOME ---------- -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.1/css/all.min.css" 
    integrity="sha512-5Hs3dF2AEPkpNAR7UiOHba+lRSJNeM2ECkwxUIxC1Q/FLycGTbNapWXB4tP889k5T5Ju8fs4b1P5z/iB4nMfSQ==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />

    <!-- CSS -->
    <link rel="stylesheet" href="/css/404.css">

    <!-- --------- FAVICON ---------- -->
    <link rel="shortcut icon" href="/assets/img/logo_3.png" type="image/x-icon">

    <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

        *{
            font-family: 'Poppins', sans-serif;
        }
    </style>

</head>
<body>
    <div class="wrapper">
        <main class="main">
            <div class="notpage">
                <div class="container">
                    <div class="notpage__wrapper">
                        <div class="bubbles">
                            <div class="bubble bubble-one"></div>
                            <div class="bubble bubble-two"></div>
                            <div class="bubble bubble-three"></div>
                            <div class="bubble bubble-four"></div>
                            <div class="bubble bubble-five"></div>
                            <div class="bubble bubble-six"></div>
                        </div>
                        <div class="notpage__wrapper-img">
                            <img src="/assets/img/four.png" alt="" > 
                            <img src="/assets/img/zero.png" alt="" width="250px"> 
                            <img src="/assets/img/four1.png" alt="">
                        </div>
                        <div class="notpage__wrapper-data">
                            <div class="title">Opps! Page not found</div>
                            <a href="#" class="btn btn-reset">Back to home</a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>
</html>
<!-- 2d79f3 -->